<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
	
		<!-- Bootstrap CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<title>Book Room</title>
		<script type="text/javascript">
			function reload() {
				document.getElementById("form").reset();
			}
		</script>
	</head>
	
	<body>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<p class="nav-link text-success"> {{request.session.username}} </p>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url 'logout' %}">logout</a>
			</li>
		</ul>
		
		<div class="mx-1 container">		
			<form method="post" id ="form">
				{% csrf_token %}
				<div class="row m-3 w-50">
						<label for="room_number" class="col-sm-3 form-label">Room Number</label>
						<select class="w-25 col-sm-3 form-select " name="room_number">
							<!--Add dynamic options here-->
							{% for room in rooms %}
							<option value= {{room.room_number}}>{{room.room_number}}</option>
							{% endfor %}
						</select>
				</div>
				
				<div class="row m-3 w-50">
						<label for="guest_name" class="col-sm-3 form-label">Guest Name</label>
						<input required class="col w-25 form-control" type="text" id="guest_name" placeholder="Enter guest name here" name="guest_name">
						
				</div>
				
				<div class="row m-3 w-50">
						<label for="guest_id" class="col-sm-3 form-label">Guest Id</label>
						<input required class="col-md-5 w-25 form-control" type="text" id="guest_id" placeholder="Enter guest id here" name="guest_id">
				</div>
				
				<div class="row m-3 w-50">
						<label for="book_date_when" class="col-sm-3 form-label">Booking Date</label>
						<input required class="col-sm-3 w-25 form-control" type="date" id="book_date_when" name="date">
				</div>
				
				<div class="row m-3 w-50">
						<label for="book_time_when" class="col-sm-3 form-label">Booking Time</label>
						<input required class="col-sm-3 w-25 form-control" type="time" id="book_time_when" value="12:00" name="time">
				</div>
				
				<div class="row m-3 w-50">
						<label for="days" class="col-sm-3 form-label">Days</label>
						<input required class="col-sm-3 w-25 form-control" type="number" id="days" value="1" min="0" step="1" name="days">
				</div>
				
				
				<div class="row m-3 w-50">
						<label for="advance" class="col-sm-3 form-check-label">Advance Booking</label>
						<input class="col-sm-1 form-check-input" type="checkbox" id="advance" name="advance">
				</div>
				
				<div class="row m-3 w-50">
						<label for="use_discount" class="col-sm-3 form-check-label">Avail Discount</label>
						<input class="col-sm-1 form-check-input" type="checkbox" id="use_discount" name="use_discount">
				</div>
				
				<div class="row m-3 w-50	">
						<label for="discount" class="col-sm-3 form-label">Discount</label>
						<input class="col-sm-3 w-25 form-control" type="number" id="discount" max="100" min="0" step="1" name="discount" value="0">
				</div>
				
				<div class="row m-3 w-50">
						<label for="phone_number" class="col-sm-3 form-label">Phone Number</label>
						<input required class="col w-25 form-control" type="text" id="phone_number" placeholder="Enter phone number here" name="phone_number" maxlength="10" >
				</div>
				
				<div class="row m-3 w-50">
					<button type="submit" class="col-sm-3 w-25 btn btn-primary m-3">Book Room</button>
					<button class="col-sm-3 w-25 btn btn-primary m-3" onClick="reload()" >Reset</button>
				</div>
				
				<div class="row m-3 w-50">
					{% if error %}
					<p class="col text-danger fs-7 fw-bold">{{message}}</p>
					{% else %}
					<p class="col text-success fs-7 fw-bold">{{message}}</p>
					{% endif %}
				</div>
				
				
			
			</form>
		</div>
		<script src="{% static '/js/bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	</body>

	
</html>
