<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
	
		<!-- Bootstrap CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<title>Login</title>
	</head>
	
	<body>
		<div>
			<!-- This area is for displaying message-->
		</div>
		
		<div class="mx-1 my-3">
			<form class="form-inline">
				<div class="form-group">
					<label for="token" class="form-label mx-3">Token</label>
					<input type="number" id="token">
					<button type="button" class="btn btn-sm btn-primary">Get Info</button>
				</div>
			</form>
		</div>
		
		<div class="mx-3 my-1">
		<!--This area is for displaying token information -->
			<div class="row my-3">
				<label class="fs-7 fw-bold col" for="guest_name">Name</label><label id="guest_name" class="fs-7"></label>
				<label class="fs-7 fw-bold col" for="guest_room">Room</label><label id="guest_room" class="fs-7"></label>
				<label class="fs-7 fw-bold col" for="guest_price">Total price</label><label id="guest_price" class="fs-7"></label>
			</div>
		
		<div class="mx-1 w-50">
		<!--This area is used for adding catering information -->
		
			<form>
				<div class="row my-3">
					<label class="fs-5 col">Food Item</label>
					<label class="fs-5 col">Price</label>
				</div>
			
				<div class="row my-3">
					<div class="col"><input id="item1" type="text" class="form-control" placeholder="Enter Food item name"></div>
					<div class="col"><input id="price1" type="number" class="form-control" placeholder="Enter Price"></div>
				</div>
				
				<!-- Add more items dynamically-->
			
				
				<div class="row my-3 w-50">
					<button class="col btn btn-primary btn-sm mx-3">Add Item</button>
					<button class="col btn btn-secondary btn-sm mx-3">Submit</button>
				</div>
			
			</form>
		</div>
		
		
	</body>
	
</html>
