<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
	
		<!-- Bootstrap CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<title>Check Discount</title>
	</head>
	
	
	<body>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<p class="nav-link text-success"> {{request.session.username}} </p>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url 'logout' %}">logout</a>
			</li>
		</ul>
		
		
		<div class="mx-1 my-1">
			<form class="form-inline" method="post">
				{% csrf_token %}
				<div class="form-group row w-50">
					<label for="phone_number" class="col-sm-3 form-label px-3">Phone Number</label>
					<input required class="col w-25 form-control" type="text" id="phone_number" placeholder="Enter phone number here" name="phone_number" maxlength="10" >
					<button type="sumbit" class="col-sm-3 btn btn-sm btn-primary mx-3">Get Info</button>
					<!--c Add a label here to display message -->
				</div>
			</form>
		</div>
		
		<div class="mx-3 my-1 w-25">
		<!--This area is for displaying token information -->
			<div class="row"><label class="fs-7 fw-bold col" for="guest_name">Name:&nbsp;</label><label id="guest_name" class="fs-7 col">{{guest_name}}</label></div>
			<div class="row"><label class="fs-7 fw-bold col" for="discount">Discount:&nbsp;</label><label id="discount" class="fs-7 col">{{discount}}%</label></div>
			{% if error %}
			<p class="m-3 fs-7 fw-bold text-danger row">{{message}}</p>
			{% endif %}
		</div>
	
	 <script src="{% static '/js/bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	</body>
</html>