<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
	
		<!-- Bootstrap CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<title>Receptionist</title>
	</head>
	
	<body>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<p class="nav-link text-success"> {{request.session.username}} </p>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url 'logout' %}">logout</a>
			</li>
		</ul>
	
	
		<div class="mx-5 my-3 fixed-table-body">
			<table class="w-100 table table-striped table-borderedx` table-responsive">
				<caption>Occupancy State<caption>
				<thead class="table-dark">
					<tr>
						<th scope="col">Room Number</th>
						<th scope="col">Bed</th>
						<th scope="col">AC</th>
						<th scope="col">Price</th>
						<th scope="col">Occupied</th>
						<th scope="col">Days</th>
						<th scope="col">Token</th>
						<th scope="col">Occupied When</th>
						<th scope="col">Advance Price</th>
						<th scope="col">Advance</th>
						<th scope="col">Book When</th>
						<th scope="col">Book Days</th>
					</tr>
				</thead>
				<tbody>
					{% for room in rooms %}
						<tr>
							<td>{{room.room_number}}</td>
							<td>{{room.bed}}</td>
							<td>{{room.ac}}</td>
							<td>{{room.price}}</td>
							<td>{{room.occupied}}</td>
							<td>{{room.days}}</td>
							<td>{{room.token}}</td>
							<td>{{room.occupied_when}}</td>
							<td>{{room.advance_price}}</td>
							<td>{{room.advance}}</td>
							<td>{{room.book_when}}</td>
							<td>{{room.book_days}}</td>
						</tr>
					{% endfor %}
					<!-- Add Rows dynamically -->
				</tbody>
			</table>
		</div>
		
		<div class="justify-content-start m-3">
			<a class="btn btn-primary m-3" onClick="window.location.reload()">Refresh </button>
			<a class="btn btn-primary m-3" href="{% url 'book_room'%}" target="_blank" rel="noopener noreferrer">Book Room</a>
			<a class="btn btn-primary m-3" href="{% url 'check_discount'%}" target="_blank" rel="noopener noreferrer">Check Discount</a>
			<a class="btn btn-primary m-3" href="{% url 'checkout'%}" target="_blank" rel="noopener noreferrer">Checkout</a>
 
		</div>
		<script src="{% static '/js/bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	</body>
	
	
</html>